@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
html, body {
    background: #202630;
    font-family: 'Source Sans Pro', sans-serif;
}

/* main */
h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    text-align: center;
}
.menu a{
    font-size: 21px;
    width: 100%;
    background: #6DC28E;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    height: 120px;
    top: 0;
    display: none;
    text-align: center;
    color: black;
}
.overlay.visible {
    display: block;
}
.overlay .message{
    font-size: 21px;
}
.overlay a {
    font-size: 21px;
    width: 100%;
    background: #6DC28E;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

.main {
  margin: 0 auto;
  width: 560px;
  height: 100%;
  background: #202630;
  color: #fff;
  position: relative;
}

.mask {
    fill: #394254;
    mask: url(#holes);
}

.board {
    background: #202630;
}
.cell {
    transition: transform .5s ease-in-out;
    /*transform: translateY(-50vw);*/
}

.cell.highlight {
    animation: color_change .25s infinite alternate;

}

.cell.player-1.highlight {
    animation: color_change_player1 .5s infinite alternate;
}
.cell.player-2.highlight {
    animation: color_change_player2 .5s infinite alternate;
}


.cell.player-1 {
    fill: #6DC28E;
}
.cell.player-2 {
    fill: #F68F3A;
}

.cell.latest{
    transform: translateY(-50vw);
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}


@keyframes color_change_player1 {
    from { fill: #6DC28E; }
    to { fill: white; }
}

@keyframes color_change_player2 {
    from { fill: #F68F3A; }
    to { fill: white; }
}

