/* Stiziles */

html, body {
  background: #222222;
}

/* main */
h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    text-align: center;
    margin-top: 50px;
}
.menu a{
    font-size: 21px;
    width: 100%;
    background: #2754FC;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    background-color: rgb(0,0,0);
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    text-align: center;
}
.overlay.visible {
    display: block;
}
.overlay .message{
    font-size: 21px;
    color: white;

}

.main {
  margin: 0 auto;
  width: 560px;
  height: 100%;
  background: #222222;
  color: #fff;
  position: relative;
}

.mask {
    fill: #2754FC;
    mask: url(#holes);
}

.board {
    background: #222222;
}
.cell {
    color: red;
    transition: transform .5s ease-in-out;
    /*transform: translateY(-50vw);*/
}
.cell.fixed {
    transform: translateY(0);
}


.cell.player-1 {
    fill: red;
}
.cell.player-2 {
    fill: yellow;
}

.cell.latest{
    transform: translateY(-50vw);
}

/* transitions */

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}
