@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
html, body {
    background: #202630;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

/* main */
h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    text-align: center;
}
.menu a{
    font-size: 26px;
    background: #6DC28E;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    width: 240px;
    display: inline-block;
    margin-bottom: 20px;
}
.hit-areas {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.replay-btn {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 110px;
    top: 0;
    display: none;
    text-align: center;
    color: black;
}
.overlay img {
    margin: 13px;
}
.overlay.visible {
    display: block;
}
.overlay .message{
    font-size: 21px;
}

.inner {
    height: 100%;
    width: 560px;
    margin: 0 auto;
    position: relative;
}
.main {
  width: 100%;
  height: 100%;
}

.mask {
    fill: #394254;
    mask: url(#holes);
}

.board {
    background: #202630;
}
.cell {
    transition: transform .5s ease-in-out;
    /*transform: translateY(-50vw);*/
}

.cell.latest{
    transform: translateY(-60vh);
}

.cell.highlight {
    animation: color_change .25s infinite alternate;

}

.cell.player-1.highlight {
    animation: color_change_player1 .5s infinite alternate;
}
.cell.player-2.highlight {
    animation: color_change_player2 .5s infinite alternate;
}
.overlay .player-avatar  .image {
    background: none;

}
.overlay .player-avatar {
    position: absolute;
    right: 0;
    margin: 15px;
}

.cell.player-1 {
    fill: #6DC28E;
}
.cell.player-2 {
    fill: #F68F3A;
}
.player-avatar {
}
.player-avatar .player-1.active {
    fill: #6DC28E;
}
.player-avatar .image {
    background: #394254;
    padding: 10px;
}
.player-avatar .player-2.active {
    fill: #F68F3A;
}
.player-avatar .name {
    text-transform: uppercase;
    text-align: center;
    color: #394254;
    font-weight: bold;
    font-size: 10px;
    margin-top: 10px;
}

.player-avatar {
    position: absolute;
    top: 0;
}
.player-avatar.player-2 {
    position: absolute;
    top: 0;
    right: 0;
}

@keyframes color_change_player1 {
    from { fill: #6DC28E; }
    to { fill: white; }
}

@keyframes color_change_player2 {
    from { fill: #F68F3A; }
    to { fill: white; }
}

